

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



//MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) { @content};  //37.5em
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) { @content};  //56.25em
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) { @content};  //75em
        
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1800px) { @content};  //112.5em
    }

}